.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.myCard {
    text-align: center;
    width: 250px;
    border-radius: 5% !important;
    margin: 20px 30px !important;
    border: 1px solid lightgray !important;
}

.ant-card {
}

.myCard:hover {
    box-shadow: 0 0 5px #1890ff;
}

.myCard div {
    width: 100%;
}

.myCard img {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
}

.priceCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    text-align: left;
    font-weight: bold;
    padding-top: 10px;
    color: black;
}

.price:hover {
    color: black;
}

.cart {
    padding-top: 10px;
    font-size: 20px;
}

.pagination {
    text-align: center;
    padding: 20px 0px;
}


.search {
    width: 20%;
    padding-top: 20px;
    margin: auto;
}