.footer {
    display: flex;
    flex-wrap: wrap;
}
.socials {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-basis: 50%;
    justify-content: center;
}
.socials a {
    font-size: 20px;
    margin-right: 30px;
}

.connect {
    flex-basis: 50%;
    text-align: center;
}
