.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
    border-bottom: 0 !important;
}

.ant-layout-header {
    padding: 0 !important;
}

.header {
    padding: 0 60px;
    background-color: white;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}


.ant-layout-footer {
    background-color: white !important;
    padding: 0 !important;
    border: solid white;
    border-width: 30px 20px 30px 20px;
}

.socials {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-basis: 50%;
    justify-content: center;
}
.socials a {
    font-size: 20px;
    margin-right: 30px;
}

.connect {
    flex-basis: 50%;
    text-align: center;
}

.cartLink:hover {
    color: #1890ff;
}

.ant-badge-count {
    background-color: #1890ff !important;
}

