.notfound {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
}

.error {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 170px;
    align-items: center;
}

.circle {
    width: auto;
    font-size: 30px;
    border-radius: 50%;
    border: solid #1890ff 10px;
    background-color: #1890ff;
    color: white;
    margin-right: 10px;
}

.text {
    text-align: left;
    font-size: 30px;
}

.button {
    width: 100%;
    text-align: center;
    padding-bottom: 170px;
}